In [72]:
import pandas as pd

rating_movies = pd.read_csv('data/ratings_movies.csv', sep=',')
rating_movies.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [73]:
import re

def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [74]:
rating_movies['year_release'] = rating_movies['title'].apply(get_year_release)
rating_movies['year_release'].isnull().sum()

18

In [75]:
pivot = pd.pivot_table(rating_movies, index='title', columns='year_release', values='rating')
sorted_pivot = pivot.sort_values(by=1999)
sorted_pivot[1999]

title
Bloodsport: The Dark Kumite (1999)                        0.5
Simon Sez (1999)                                          1.0
Chill Factor (1999)                                       1.0
Source, The (1999)                                        1.0
Trippin' (1999)                                           1.0
                                                         ...
anohana: The Flower We Saw That Day - The Movie (2013)    NaN
xXx (2002)                                                NaN
xXx: State of the Union (2005)                            NaN
¡Three Amigos! (1986)                                     NaN
À nous la liberté (Freedom for Us) (1931)                 NaN
Name: 1999.0, Length: 9706, dtype: float64

In [76]:
pivot_genre = pd.pivot_table(rating_movies, index='genres', columns='year_release', values='rating')
sorted_genre = pivot_genre.sort_values(by=2010)
sorted_genre[2010]

genres
Action|Sci-Fi               1.000000
Action|Adventure|Horror     1.500000
Action|Drama|Fantasy        1.500000
Crime|Romance               1.500000
Adventure|Comedy|Fantasy    1.833333
                              ...
Romance|Western                  NaN
Sci-Fi|IMAX                      NaN
Sci-Fi|Thriller|IMAX             NaN
Thriller                         NaN
War                              NaN
Name: 2010.0, Length: 951, dtype: float64

In [77]:
uniq_genres = rating_movies.groupby('userId')['genres'].nunique()
display(uniq_genres.sort_values())

userId
214     13
85      13
245     13
494     15
578     15
      ...
474    395
380    399
448    403
414    482
599    524
Name: genres, Length: 610, dtype: int64

In [78]:
mask = rating_movies['year_release'] == 2018
genres = rating_movies[mask].groupby('genres')['rating'].agg(['count','mean'])
display(genres[genres['count'] > 10].sort_values(by='mean'))

                         count      mean
genres
Action|Comedy|Sci-Fi        12  3.875000
Action|Adventure|Sci-Fi     14  3.928571

In [89]:
import datetime as dt
rating_movies['date'] = pd.to_datetime(rating_movies['date'])
rating_movies['year_rating'] = rating_movies['date'].dt.year
pivot_1 = pd.pivot_table(rating_movies, index='year_rating', columns='genres', values='rating')
pivot_1['Animation|Children|Mystery']

year_rating
1996    NaN
1997    NaN
1998    NaN
1999    NaN
2000    NaN
2001    NaN
2002    NaN
2003    NaN
2004    NaN
2005    NaN
2006    NaN
2007    NaN
2008    NaN
2009    NaN
2010    NaN
2011    NaN
2012    NaN
2013    NaN
2014    NaN
2015    NaN
2016    NaN
2017    NaN
2018    5.0
Name: Animation|Children|Mystery, dtype: float64